body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  background-color: #ebfdfb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
}

.container-two {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  overflow: hidden;
  padding: 40px;
  background: #fff;
}

.left-section,
.right-section {
  padding: 60px;
}

.left-section {
  flex: 1;
  text-align: center;
  background-color: #FFFFFF;
  color: black;
}

.left-section img {
  max-width: 40%;
  height: auto;
  margin-bottom: 50px;
}

.right-section {
  flex: 2;
}

form {
  max-width: 400px;
  margin: 0 auto;
}


label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .left-section, .right-section {
    flex: 1;
    width: 100%;
    text-align: center;
  }
}


